<%= form_with model: location, class: "text-md bg-white rounded-md border-2 border-solid border-gray-300 mx-auto p-4 mb-4" do |form| %>
  <div class="flex gap-4 mb-4">
    <%= form.label :name, "Nome", class: "block min-w-[100px]" %>
    <%= form.text_field :name, class: "rounded-md border-2 border-solid border-gray-300 w-full p-2" %>
    <% location.errors.messages_for(:name).each do |error| %>
      <span><%= error %><span>
    <% end %>
  </div>

  <div class="flex gap-4 mb-4">
    <%= form.label :description, "Descrição", class: "block min-w-[100px]" %>
    <%= form.text_area :description, class: "rounded-md border-2 border-solid border-gray-300 w-full p-2"  %>
    <% location.errors.messages_for(:description).each do |error| %>
      <span><%= error %><span>
    <% end %>
  </div>

  <div class="flex gap-4 mb-4">
    <%= form.label :address, "Endereço", class: "block min-w-[100px]" %>
    <%= form.text_field :address, class: "rounded-md border-2 border-solid border-gray-300 w-full p-2" %>
    <% location.errors.messages_for(:address).each do |error| %>
      <span><%= error %><span>
    <% end %>
  </div>

  <%= form.submit button_text, class: "text-white bg-sky-500 rounded-md p-2 hover:cursor-pointer flex justify-self-end" %>
<% end %>