<% if @locations.any? %>
  <h1>You have <%= @locations.count %> locations</h1>
<% else %>
  <h1>No locations yet :(</h1>
<% end %>

<ul>
  <% @locations.each do |location| %>
    <li>
      <%= link_to location.name, location_path(location) %>
      <p><%= location.description %></p>
      <p>Address: <%= location.address %></p>
      <p>Latitude: <%= location.lat %></p>
      <p>Longitude: <%= location.lng %></p>
      <p>Rating: <%= location.rating %></p>
    </li>
  <% end %>
</ul>

<%= link_to 'New location', new_location_path %>


